<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Investigate">
    <div>
        <a href="${original_png}" target="_blank"><img src="${original_png_downscaled}"></a>
        <a href="${result_png}" target="_blank"><img src=${result_png_downscaled}></a>
    </div>
<br><br>
<form >
    <div>
        <p>Are the images similar?</p>
        <label>True <input type="radio" value="true" name="isSimilar"></label>
        <label>False <input type="radio" value="false" name="isSimilar"></label>
        <input type="hidden" value=${original} name="original"> <br><br>
        <button type="submit">Send results</button>
    </div>
</form>



</@layout.myLayout>